<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thymeleaf.dao.EmployeeDao">
    <select id="lists" resultType="Employee">
        select * from `employee`
    </select>
    <insert id="save" parameterType="Employee">
        insert into `employee`(emplyee_id,employee_name,sex,address,department,job_title,employment_status,hire_date)
        values(#{emplyee_id},#{employee_name},#{sex},#{address},#{department},#{job_title},#{employment_status},#{hire_date})
    </insert>
    <select id="findById" parameterType="Integer" resultType="Employee">
        select * from `employee` where emplyee_id=#{emplyee_id}
    </select>
    <update id="update" parameterType="employee">
        update `employee` set emplyee_id=#{emplyee_id},employee_name=#{employee_name},sex=#{sex},address=#{address},department=#{department},
                              job_title=#{job_title},employment_status=#{employment_status},hire_date=#{hire_date}
        where emplyee_id=#{emplyee_id}
    </update>
    <delete id="delete" parameterType="Integer">
        delete from `employee` where emplyee_id=#{emplyee_id}
    </delete>
    <select id="search" parameterType="map" resultType="Employee">
        SELECT emplyee_id,employee_name,department,address,sex FROM `employee`
        <where>
            <if test="emplyee_id!=null and emplyee_id!='' ">
                AND emplyee_id=#{emplyee_id}
            </if>
            <if test="employee_name!=null and employee_name !='' ">
                AND employee_name LIKE '%'#{employee_name}'%'
            </if>
            <if test="department!=null and department!='' ">
                AND department=#{department}
            </if>
        <if test="address!=null and address!='' ">
            AND address=#{address}
        </if>
        </where>


    </select>
</mapper>