body 
{
    margin: 0;
    padding: 0px 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
    
}
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 400px;
    

}
#top_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 700px;
    padding-top: 20px;
    position: relative;
    bottom: 15px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: -5px 5px 10px 0 ;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 650px;
    position: relative;
    bottom: 40px;
}
.form_table{
    display: flex;
    flex-direction: column;
    height: 650px;

}
.r1,.r2,.r3,.r4,.r5,.r6,.r7,.r8,.r9,.r10,.r11,.r12,.r13,.r14,.r15,.r16{
height: 38px;

}
.error,.error2,.error1{
    flex: 1;
}
input{
    margin: 5px;
    border: none;      
    border-bottom: 1px solid #000;
    outline: none;   
    
}
#header{
    letter-spacing: 20px;
    font-size: 20px;
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
    padding-left: 150px;
    width: 600px;
    text-shadow: -4px 0 3px;
    color: #232323;
}
.header2{
    font-size: 25px;
    font-family: Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;
    margin-right: 180px;
    margin-left: 200px;
    padding-right: 20px;
    height: 30px;
    position: relative;
    bottom: 30px;

}
td{
    padding-right: 10px;
}
.button2{
    width: 80px;
    height: 30px;
   position: relative;
   left: 75px;
    bottom: 7px;
    border: none;
    background-color: #409EFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
}
.button{
    width: 80px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 50px;
    bottom: 75px;
    border: none;
    background-color: #409EFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
}
button:hover{
    background-color: #9fcfff;
}
select{
    width: 100px;
    height: 25px;
}


.error1{
    margin-left: 100px;
    margin-bottom: 5px;
    height: 5px;
    font-size: 12px;
    color: red;

}
.error2{
    font-size: 12px;
    margin-left: 100px;
   margin-bottom: -50px;
   padding-top: 30px;
    color: red;
}

.error{
    color: red;
    font-size: 13px;
    padding-left: 60px;
    height: 6px;

}
.errorMsg2{
    color: red;
    font-size: 13px;
    position: relative;
    left: 50px;
    top: 418px;
    height: 5px;



}
.resume{
    position: relative;
    left: 47px;
}
.resumeFile{
    border: none;
}



#footer{
    margin-top: -30px;
}