body
{
    margin: 0;
    padding: 0px 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);

}
#wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 400px;


}
#top_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 550px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    box-shadow: -5px 5px 10px 0 ;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


input{
    margin: 5px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;

}
.search2{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}
#header{
    letter-spacing: 20px;
    font-size: 20px;
    font-family: "-apple-system", BlinkMacSystemFont, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "メイリオ", "Hiragino Kaku Gothic ProN", "MS PGothic", Osaka, "sans-serif";
    padding-left: 150px;
    width: 600px;
    text-shadow: -4px 0 3px;
    color: #232323;
}
.header2{
    font-size: 20px;
    font-family: Georgia, "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho ProN", "MS P明朝", "MS PMincho", HGS明朝E, "MS Mincho", serif;
    margin-right: 180px;
    margin-left: 200px;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: 500px;
    background-color: #efefef;
    margin-top: 5px;
    border-radius: 8px;
    border: solid 1px #000 ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.table_header{
    display: flex;

}
.h1{
    flex: 1;
}
.h2{
    flex: 2;
    text-align: center;
}
.h3{
    flex: 2;
    text-align: center;
}
.h4{
    flex: 2;
    text-align: center;
}
.h5{
    flex: 1;
    text-align: center;
}
.h6{
    flex: 1.5;
    text-align: center;
}
.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 35px;
    background-color: #ffffff;
    border-radius: 5px;

}
.r1{
    flex: 1;
    text-align: center;
}
.r2{
    flex: 2;
    text-align: center;
}
.r3{
    flex: 2;
    text-align: center;
}
.r4{
    flex: 2;
    text-align: center;
}
.r5{
    flex: 1;
    text-align: center;
}
.r6{
    flex: 1.5;
    text-align: center;
}


.number{
    padding-bottom: 10px;

}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    list-style-type: none;
    margin-top: -10px;
    padding-bottom: 5px;
}
a{
    display: inline-block;
    padding: 2px 2px;
    border: 1px solid black;
    background-color:white;
    color:black;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
.button{
    display: flex;
    width: 400px;
    padding-top: 10px;
}
.button1{
    margin-right: 220px;
    position: relative;
    top: 12px;
    border: none;
    background-color: #409EFF;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 26px;
    cursor: pointer;
    transition: background-color 0.3s
}
.button2{
    margin-top: -25px;
    margin-left: 220px;
    position: relative;
    top: -15px;
    border: none;
    background-color: #409EFF;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    transition: background-color 0.3s
}
.button3{
    position: relative;
    top: -13px;
    border: none;
    background-color: #409EFF;
    color: white;
    border-radius: 5px;
    width: 80px;
    height: 30px;
   padding-top: 4px;
   padding-bottom: 3px;
    cursor: pointer;
    transition: background-color 0.3s
}
.button6{
    width: 20px;
}
.button7{
    width: 30px;
    border-bottom: #000 solid 1px;
}
.nav{
    display: flex;
    justify-content: center;

}
.button10{
    width: 95px;
    height: 24px;
    margin-top: 15px;
    margin-right: -80px;
    border: none;
    background-color: #409EFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s
}
.button11{
    width: 50px;
    border: none;
    border-radius: 0px;
    border-bottom:solid #000 1px;
    cursor: pointer;
    transition: background-color 0.3s
}
.button4:hover,.button5:hover,.button6:hover,.button7:hover,.button8:hover,.button9:hover,.button1:hover,.button2:hover,.button3:hover,.button10:hover,.button11:hover{
    background-color: #9fcfff;
}
.button4,.button5,.button6,.button7,.button8,.button9{
    cursor: pointer;
    transition: background-color 0.3s

}
.msg{
color: red;
    font-size: 15px;
}
#footer{
    margin-top: -35px;

}