<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>添加员工信息</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/style.css}" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						添加员工信息:
					</h1>
					<form th:action="@{/employee/save}" method="post" th:object="${employee}"  >
<!--						<div th:each="error : ${errors}">-->
<!--							<span th:text="${error.defaultMessage}"></span>-->
<!--						</div>-->
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									社員番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{employee_id}" />
									<span th:if="${#fields.hasErrors('employee_id')}" th:errors="*{employee_id}"></span>
									<span th:if="${errorMsg}" class="error" th:text="${errorMsg}" ></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									社員名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{employee_name}" />
									<span th:if="${#fields.hasErrors('employee_name')}" th:errors="*{employee_name}"></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									役職名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{job_title}" />
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									性別:
								</td>
								<td>
									<input type="radio" name="sex" value="男" th:checked="${employee.sex=='男'}"/>
									男
									<input type="radio" name="sex" value="女" th:checked="${employee.sex=='女'}"/>
									女
								</td>
								<script>
									function readRadio(){
										var obj=document.getElementById("sex")
										for (var i=0;i<obj.length;i++){
											if(obj[i].checked){
												alert(obj[i].value);
												break;
											}
										}

									}
								</script>

								</tr>
							<tr>
								<td valign="middle" align="right">
									部署名:
								</td>
								<td>
									<select th:field="*{department}"  id="option1">
										<option value="システム1部">システム1部</option>
										<option value="システム2部">システム2部</option>
									</select>
									<script>
										function readOption(){
											var selected=document.getElementById("option1");
											alert(selected.options[selected.selectedIndex].value)
										}
									</script>
								</td>

							</tr>
							<tr>
								<td valign="middle" align="right">
									住所:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{address}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									雇用形態:
								</td>
								<td>
									<select th:field="*{employment_status}"  id="option">
										<option value="正社員">正社員</option>
										<option value="契約社員">契約社員</option>
									</select>
									<script>
										function readOption(){
											var selected=document.getElementById("option");
											alert(selected.options[selected.selectedIndex].value)

										}
									</script>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									入社年月日:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{hire_date}" />
								</td>
							</tr>
						</table>
						<p>
<!--							<input type="submit" class="button" value="确认添加" />-->
							<button type="submit" onclick="showSuccessMsg()">确认添加</button>
							<input type="button" class="button" value="返回列表" onclick="refresh()"/>
						<div id="successMsg" style="display: block;">
							<p id="messageText"></p>
						</div>

						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
	<script>
		function refresh(){
			location.href='[[@{/employee/lists}]]';
		}
		function showSuccessMsg(){

		}

	</script>
</html>
