<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>添加员工信息</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/addEmp.css}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<h1 id="title">
						社員管理システム
					</h1>
				</div>		
				<div id="content">
					<h1 class="header2">
						新規登録
					</h1>
					<form th:action="@{/employee/save}" method="post" th:object="${employee}" enctype="multipart/form-data" >
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<div th:if="${errorMsg}" class="error" th:text="${errorMsg}" >

							</div>
							<div class="error1" th:if="${#fields.hasErrors('employee_id')}" th:errors="*{employee_id}">							
							</div>
							<tr class="r1">
								<td valign="middle" align="right">
								社員番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{employee_id}" />
									
								</td>
							</tr>
							<div  class="error2" th:if="${#fields.hasErrors('employee_name')}" th:errors="*{employee_name}">

							</div>
							<tr class="r2">
								
								<td valign="middle" align="right">
									社員名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{employee_name}" />
								</td>
							</tr>
							<tr class="r3">
								<td valign="middle" align="right">
									パスワード:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" th:field="*{employee_password}" />

								</td>
							</tr>
							<tr class="r4">
								<td valign="middle" align="right">
									役職名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{job_title}" />
								</td>
							</tr>
							<tr class="r5">
								<td valign="middle" align="right">
									性別:
								</td>
								<td>
									<input type="radio" name="sex" value="男" th:checked="${employee.sex=='男'}"/>
									男
									<input type="radio" name="sex" value="女" th:checked="${employee.sex=='女'}"/>
									女
								</td>

								</tr>
							<tr class="r6">
								<td valign="middle" align="right">
									部署名:
								</td>
								<td>
									<select name="department">
										<option value="">请选择</option>
										<option th:each="d:${departments}" th:value="${d.id}" th:text="${d.department}"
												th:selected="${d.id==employee.department}"
										></option>
									</select>
								</td>

							</tr>
							<tr class="r7">
								<td valign="middle" align="right">
									住所:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{address}"/>
								</td>
							</tr>
							<tr class="r8">
								<td valign="middle" align="right">
									メールアドレス:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{mail_address}"/>
								</td>
							</tr>
							<tr class="r9">
								<td valign="middle" align="right">
									携帯電話:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{phone_number}"/>
								</td>
							</tr>
							<tr class="r10">
								<td valign="middle" align="right">
									雇用形態:
								</td>
								<td>
									<select th:field="*{employment_status}"  id="option">
										<option value="正社員">正社員</option>
										<option value="契約社員">契約社員</option>
									</select>
								</td>
							</tr>
							<tr class="r11">
								<td valign="middle" align="right">
									入社年月日:
								</td>
								<td valign="middle" align="left">
									<input type="date" class="inputgri" th:field="*{hire_date}" />
								</td>
							</tr>
							<span th:if="${errorMsg2}" class="errorMsg2" th:text="${errorMsg2}" >
							</span>
							<tr class="r12">
								<td valign="middle" align="right">
									誕生日:
								</td>
								<td valign="middle" align="left">
									<input type="date" class="inputgri" th:field="*{birth_date}" />
								</td>
							</tr>
							<tr class="r13">
								<td valign="middle" align="right">
									雇用保険番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{empInsuranceNumber}" />
								</td>
							</tr>
							<tr class="r14">
								<td valign="middle" align="right">
									年金番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{pensionNumber}" />
								</td>
							</tr>
							<tr class="r15">
								<td valign="middle" align="right">
									職位ランク:
								</td>
								<td>
									<select name="positionRank">
										<option value="">请选择</option>
										<option th:each="p:${positionRanks}" th:value="${p.id}" th:text="${p.positionRank}"
										th:selected="${p.id==employee.positionRank}"></option>
									</select>
								</td>
							</tr>
							<tr class="r16">
								<td class="resume">
									履歴書：
								</td>
								<td>
									<input type="file"  name="resumeFile" class="resumeFile" accept=".xls,.doc,.docx,.pdf"/>
								</td>
							</tr>
						</table>
							<button class="button2" type="submit" >登録</button>
					</form>

					<button class="button" onclick="refresh()">戻る</button>
				</div>
			</div>
			<div id="footer">
					Namiki@163.com
			</div>
		</div>
	</body>
	<script>
		function refresh(){
			location.href='[[@{/employee/lists}]]';
		}

	</script>
</html>
