<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>添加员工信息</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/addEmp.css}" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
				<div id="header">
					<h1 id="title">
						社員管理システム
					</h1>
				</div>		
				<div id="content">
					<h1 class="header2">
						新規登録
					</h1>
					<form th:action="@{/employee/save}" method="post" th:object="${employee}" enctype="multipart/form-data" >
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<div th:if="${errorMsg}" class="error" th:text="${errorMsg}" >
							</div>
							<div class="error1" th:if="${#fields.hasErrors('employee_id')}" th:errors="*{employee_id}">							
							</div>
							<tr class="r1">
								
								<td valign="middle" align="right">
								社員番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{employee_id}" />
									
								</td>
							</tr>
							<div  class="error2" th:if="${#fields.hasErrors('employee_name')}" th:errors="*{employee_name}">
							
							</div>
							<tr class="r2">
								
								<td valign="middle" align="right">
									社員名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{employee_name}" />
									
								</td>
							</tr>
							<tr class="r3">
								<td valign="middle" align="right">
									役職名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{job_title}" />
								</td>
							</tr>
							<tr class="r4">
								<td valign="middle" align="right">
									性別:
								</td>
								<td>
									<input type="radio" name="sex" value="男" th:checked="${employee.sex=='男'}"/>
									男
									<input type="radio" name="sex" value="女" th:checked="${employee.sex=='女'}"/>
									女
								</td>

								</tr>
							<tr class="r5">
								<td valign="middle" align="right">
									部署名:
								</td>
								<td>
									<select th:field="*{department}"  id="option1">
										<option value="システム1部">システム1部</option>
										<option value="システム2部">システム2部</option>
									</select>
								</td>

							</tr>
							<tr class="r6">
								<td valign="middle" align="right">
									住所:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{address}"/>
								</td>
							</tr>
							<tr class="r7">
								<td valign="middle" align="right">
									雇用形態:
								</td>
								<td>
									<select th:field="*{employment_status}"  id="option">
										<option value="正社員">正社員</option>
										<option value="契約社員">契約社員</option>
									</select>
								</td>
							</tr>
							<tr class="r8">
								<td valign="middle" align="right">
									入社年月日:
								</td>
								<td valign="middle" align="left">
									<input type="date" class="inputgri" th:field="*{hire_date}" />
								</td>
							</tr>
							<span th:if="${errorMsg2}" class="errorMsg2" th:text="${errorMsg2}" >
							</span>
							<tr class="r9">
								<td valign="middle" align="right">
									誕生日:
								</td>
								<td valign="middle" align="left">
									<input type="date" class="inputgri" th:field="*{birth_date}" />
								</td>
							</tr>
							<tr class="r10">
								<td valign="middle" align="right">
									雇用保険番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{empInsuranceNumber}" />
								</td>
							</tr>
							<tr class="r11">
								<td valign="middle" align="right">
									年金番号:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{pensionNumber}" />
								</td>
							</tr>
							<tr class="r12">
								<td valign="middle" align="right">
									職位ランク:
								</td>
								<td>
									<select th:field="*{positionRank}"  id="option2">
										<option value="P1">P1</option>
										<option value="P2">P2</option>
										<option value="P3">P3</option>
										<option value="S1">S1</option>
										<option value="S2">S2</option>
										<option value="S3">S3</option>
										<option value="PL1">PL1</option>
										<option value="PL2">PL2</option>
										<option value="PM">PM</option>
									</select>
									<button>上传</button>
									<input type="file" style="display:none;"/>
									<script>
										document.querySelector("button").addEventListener('click',()=>{
											document.querySelector("input[type='file']").click()
										})
									</script>

								</td>
							</tr>
						</table>
							<button class="button2" type="submit" >登録</button>
					</form>
					<button class="button" onclick="refresh()">戻る</button>
				</div>
			</div>
			<div id="footer">
					Namiki@163.com
			</div>
		</div>
	</body>
	<script>
		function refresh(){
			location.href='[[@{/employee/lists}]]';
		}

	</script>
</html>
