<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>attendance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/attendance.css}" />
</head>
<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <h1 id="title">
                社員管理システム
            </h1>
        </div>
        <div id="content">
            <div class="nav">
                <h1 class="header2">
                    勤怠情報一覧
                </h1>
                <a class="button10" th:href="@{/worker/loging}">ログアウト</a>
            </div>

            <form th:action="@{/worker/search}" method="post" class="form">
				<span class="msg" id="successMsg1" th:text="${msg1}">
				</span>
                <span class="msg" id="successMsg2" th:text="${msg2}"></span>
                <span class="msg" id="successMsg3" th:text="${msg3}">
							</span>
                <span class="msg" id="successMsg4" th:text="${msg4}"></span>

                <span>
					社員番号:<input class="employee_id" name="employee_id" th:value="${(#httpSession.getAttribute('employee_id'))}">
				</span>
                <span class="employee_name">
					社員名:
                    <span th:text="${(#httpSession.getAttribute('employee_name'))}">
                    </span>
				</span>
                <span class="searchBar">       年:
                <input type="number" id="yearInput" name="year" min="1900" max="2100">
                月:
                <input type="number" id="monthInput" name="month" min="1" max="12">
                日:
                <input type="number" id="dayInput" name="day" min="1" max="31"></span>

                <button class="button1" type="submit">検索</button>
            </form>
            <button class="button3" onclick="refresh()">リセット</button>
            <button class="button2" onclick="window.location.href='/ems/worker/clocking'">打刻</button>
            <table class="table">
                <tr class="table_header">
                    <td class="h1">
                        日付
                    </td>
                    <td class="h2">
                        区分
                    </td>
                    <td class="h3">
                        出社
                    </td>
                    <td class="h4">
                        退社
                    </td>
                    <td class="h5">
                        操作
                    </td>
                </tr>
                <tr th:each="attendance:${pageInfo.list}" class="row1">
                    <span style="display: none" th:text="${attendance.record_id}"></span>
                    <td class="r1">
                        <span th:text="${#dates.format(attendance.attendance_date,'yyyy-MM-dd')}"></span>
                    </td>
                    <td class="r2">
                        <span th:text="${attendance.status}"></span>
                    </td>
                    <td class="r3">
                        <span th:text="${#temporals.format(attendance.start_date,'HH:mm')}"></span>
                    </td>
                    <td class="r4">
                        <span th:text="${#temporals.format(attendance.end_date,'HH:mm')}"></span>
                    </td>
                    <td class="r5">
                        <a class="button11" th:href="@{/worker/detail(record_id=${attendance.record_id})}">详细</a>
                    </td>
                </tr>

            </table>

            <p class="number">	1～5件/<span th:text="${pageInfo.total}"></span> 件</p>

            <ul class="pagination">
                <li class="top-page">
                    <a class="button4" th:href="@{/worker/search(employee_id=${(#httpSession.getAttribute('employee_id'))},year=${searchYear}, month=${searchMonth}, day=${searchDay})}">最初のページ</a>
                </li>
                <li class="prev">
                    <a class="button5" th:href="@{/worker/search(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1,employee_id=${(#httpSession.getAttribute('employee_id'))},year=${searchYear}, month=${searchMonth}, day=${searchDay})}">前へ</a>
                </li>
                <li th:each="nav:${pageInfo.navigatepageNums}">
                    <a class="button6" th:href="@{/worker/search(pageNum=${nav},employee_id=${(#httpSession.getAttribute('employee_id'))},year=${searchYear}, month=${searchMonth}, day=${searchDay})}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                    <span class="button7" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                </li>
                <li class="next">
                    <a class="button8" th:href="@{/worker/search(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages},employee_id=${(#httpSession.getAttribute('employee_id'))},year=${searchYear}, month=${searchMonth}, day=${searchDay})}">次へ</a>
                </li>
                <li class="last-page">
                    <a class="button9" th:href="@{/worker/search(pageNum=${pageInfo.pages},employee_id=${(#httpSession.getAttribute('employee_id'))},year=${searchYear}, month=${searchMonth}, day=${searchDay})}">最後のページ</a>
                </li>
            </ul>

        </div>
    </div>
    <div id="footer">

        Namiki@126.com

    </div>
</div>
</body>
<script th:inline="javascript">

    var employeeId = /*[[${#httpSession.getAttribute('employee_id')}]]*/ '';
    function refresh(){
        location.href='/ems/worker/attendance?employee_id=' + employeeId;
    }
        /* 获取文本元素 */
        var messageElement =document.getElementById("successMsg1")
        var messageElement2 =document.getElementById("successMsg2")
        var messageElement3= document.getElementById("successMsg3")
        var messageElement4= document.getElementById("successMsg4")
        /* 两秒后隐藏文本 */
        setTimeout(function() {
        messageElement.style.display = 'none';
    }, 1000);
        setTimeout(function (){
        messageElement2.style.display='none';
    },1000);
        setTimeout(function (){
        messageElement3.style.display='none';
    },1000);
        setTimeout(function (){
        messageElement4.style.display='none';
    },1000);

</script>



</html>