<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>emplist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
						<h1 id="title">
						社員管理システム
						</h1>
				</div>
				<div id="content">
					<h1>
						社員情報一覧
					</h1>
					<form th:action="@{/employee/search}" method="post">
						<button onclick="refresh()">リセット</button>
						<div>
							社員番号:<input type="text" name="employee_id">
						部署名:<input type="text" name="department">
						</div>
						<div>
							社員名:<input type="text" name="employee_name">
						住所:<input type="text" name="address">
						</div>

					<button class="button1" type="submit">検索</button>
					</form>
					<button class="button2" onclick="addEmp()">新規登録</button>
					<table class="table">
						<tr class="table_header">
							<td>
								社員番号
							</td>
							<td>
								社員名
							</td>
							<td>
								部署名
							</td>
							<td>
								住所
							</td>
							<td>
								性別
							</td>
							<td>
								操作
							</td>
						</tr>
						<tr th:each="employee:${pageInfo.list}" class="row1">
							<td>
								<span th:text="${employee.employee_id}"></span>
							</td>
							<td>
								<span th:text="${employee.employee_name}"></span>
							</td>
							<td>
								<span th:text="${employee.department}"></span>
							</td>
							<td>
								<span th:text="${employee.address}"></span>
							</td>
							<td>
								<span th:text="${employee.sex}"></span>
							</td>
							<td>
								<a th:href="@{/employee/detail(employee_id=${employee.employee_id})}">详细</a>
							</td>
						</tr>

					</table>

                    <p>	1～5件/<span th:text="${pageInfo.total}"></span> 件</p>
					<ul class="pagination">
	           <li class="top-page">
				   <a th:href="@{/employee/lists}">最初のページ</a>
			   </li>
	           <li class="prev">
				   <a th:href="@{/employee/lists(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">前へ</a>
			   </li>
				   <li th:each="nav:${pageInfo.navigatepageNums}">
						<a th:href="@{/employee/lists(pageNum=${nav})}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
						<span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
					</li>
               <li class="next">
				   <a th:href="@{/employee/lists(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">次へ</a>
			   </li>
				<li class="last-page"><a th:href="@{/employee/lists(pageNum=${pageInfo.pages})}">最後のページ</a>
				</li>
					</ul>
					<a  th:href="@{/user/logout}">ログアウト</a>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					Namiki@126.com
				</div>
			</div>
		</div>
	</body>
	<script>
		function addEmp(){
			location.href='[[@{/employee/add}]]';
		}
		function refresh(){
			location.href='[[@{/emplist}]]';
		}

	</script>

</html>
