<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>emplist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/css/emplist.css}" />
</head>
<body>
<div id="wrap">
	<div id="top_content">
		<div id="header">
			<h1 id="title">
				社員管理システム
			</h1>
		</div>
		<div id="content">
			<div class="nav">
				<h1 class="header2">
					社員情報一覧
				</h1>
				<a class="button10" th:href="@{/user/loging}">ログアウト</a>
			</div>
			<form th:action="@{/employee/search}" method="post" class="form">
				<span class="msg" id="successMsg1" th:text="${msg1}"></span>
				<span class="msg" id="successMsg2" th:text="${msg2}"></span>
				<span class="msg" id="successMsg3" th:text="${msg3}"></span>
				<span class="msg" id="successMsg4" th:text="${msg4}"></span>
				<span class="msg" id="successMsg5" th:text="${msg}"></span>
					<script th:inline="javascript">
						/* 获取文本元素 */
						var messageElement =document.getElementById("successMsg1")
						var messageElement2 =document.getElementById("successMsg2")
						var messageElement3= document.getElementById("successMsg3")
						var messageElement4= document.getElementById("successMsg4")
						var messageElement5= document.getElementById("successMsg5")
						/* 两秒后隐藏文本 */
						setTimeout(function() {
						messageElement.style.display = 'none';
					}, 1000);
						setTimeout(function() {
							messageElement2.style.display='none';
						},1000);
						setTimeout(function () {
							messageElement3.style.display='none';
						},1000);
						setTimeout(function () {
							messageElement4.style.display='none';
						},1000);
						setTimeout(function () {
							messageElement5.style.display='none';
						},1000);
				</script>
				<div class="">
					社員番号:<input type="text" name="employee_id">
					部署名:<input type="text" name="department">
				</div>
				<div class="search2">
					社員名:<input type="text" name="employee_name">
					住所:<input type="text" name="address">
				</div>
					<button class="button1" type="submit">検索</button>
				<button class="button3" type="button" onclick="refresh()">リセット</button>
				<button class="button2" type="button" onclick="addEmp()">新規登録</button>
				<button class="button12" type="button" onclick="sendEmail()">メール発送</button>
			</form>

			<table class="table">
				<tr class="table_header">
					<td class="h0">
						<input type="checkbox" id="selectAll" onclick="toggleCheckbox()">
					</td>
					<td class="h1">
						社員番号
					</td>
					<td class="h2">
						社員名
					</td>
					<td class="h3">
						部署名
					</td>
					<td class="h4">
						住所
					</td>
					<td class="h5">
						性別
					</td>
					<td class="h6">
						操作
					</td>
				</tr>
				<tr th:each="employee,rowStat:${pageInfo.list}" class="row1">
					<td class="r0">
						<input type="checkbox" th:id="'checkbox_' + ${rowStat.index}" th:data-email="${employee.mail}" />
					</td>
					<td class="r1">
						<span th:text="${employee.employee_id}"></span>
					</td>
					<td class="r2">
						<span th:text="${employee.employee_name}"></span>
					</td>
					<td class="r3">
						<span th:text="${employee.department_name}"></span>
					</td>
					<td class="r4">
						<span th:text="${employee.address}"></span>
					</td>
					<td class="r5">
						<span th:text="${employee.sex}"></span>
					</td>
					<td class="r6">
						<a class="button11" th:href="@{/employee/detail(employee_id=${employee.employee_id})}">详细</a>
					</td>
				</tr>
				<tr>
					<td colspan="7"> <!-- 列数根据表头的列数调整 -->
						<input type="hidden" id="selectedEmails" />
					</td>
				</tr>
			</table>
			<p class="number">	1～8件/<span th:text="${pageInfo.total}"></span> 件</p>
			<ul class="pagination">
				<li class="top-page">
					<a class="button4" th:href="@{/employee/search(employee_id=${employee_id},employee_name=${employee_name},department=${department},address=${address})}">最初のページ</a>
				</li>
				<li class="prev">
					<a class="button5" th:href="@{/employee/search(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1,employee_id=${employee_id},employee_name=${employee_name},department=${department},address=${address})}">前へ</a>
				</li>
				<li th:each="nav:${pageInfo.navigatepageNums}">
					<a class="button6" th:href="@{/employee/search(pageNum=${nav})}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
					<span class="button7" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
				</li>
				<li class="next">
					<a class="button8" th:href="@{/employee/search(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages},employee_id=${employee_id},employee_name=${employee_name},department=${department},address=${address})}">次へ</a>
				</li>
				<li class="last-page">
					<a class="button9" th:href="@{/employee/search(pageNum=${pageInfo.pages},employee_id=${employee_id},employee_name=${employee_name},department=${department},address=${address})}">最後のページ</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		Namiki@126.com
	</div>
</div>
</body>
<script>
	function sendEmail() {
		var checkboxes = document.querySelectorAll('input[type="checkbox"]');
		var selectedEmails = [];
		var selectedEmployees = [];
		var allUnchecked = true; // 用于判断是否所有复选框都没有被勾选
		checkboxes.forEach(function (checkbox) {
			if (checkbox.checked) {
				allUnchecked = false; // 至少有一个复选框被勾选
				var email = checkbox.getAttribute('data-email');
				if (email) {
					selectedEmails.push(email);
				} else {
					// 如果员工邮件为空，显示错误提示
					alert('有员工邮件为空，不能发送邮件。');
				}
				var employeeNameElement = checkbox.closest('tr').querySelector('td.r2 span');

				if (employeeNameElement) {
					var employee = {
						name: employeeNameElement.textContent.trim(),
						// 根据需要添加其他员工详细信息（例如员工ID、部门等）
					};
					selectedEmployees.push(employee);
				}
			}
		});
		if (allUnchecked) {
			// 如果没有任何复选框被勾选，显示相应提示
			alert('请至少选择一个员工以发送邮件。');
			return; // 不再处理后续逻辑
		}
		var currentDate = new Date();
		var formattedDate = currentDate.getFullYear() + '-' + (currentDate.getMonth() + 1) + '-' + currentDate.getDate();
		var emailSubject = formattedDate + ' _ ' + selectedEmployees.map(e => e.name).join(', ');

		// 在这里可以添加逻辑来处理所选员工的电子邮件地址
		// 例如，构建邮件内容并在点击时跳转到邮件编辑页面
		if (selectedEmails.length >= 1) {
			// 只选择了一个员工，继续处理发送邮件逻辑
			var emailAddresses = selectedEmails.join(','); // 将选中的邮件地址连接成一个字符串
			window.location.href = '/ems/mail/?to=' + emailAddresses+'&subject=' + emailSubject; // 修改为你的邮件编辑页面的URL
		}
	}
	function toggleCheckbox() {
		var checkboxes = document.querySelectorAll('input[type="checkbox"]');
		var selectedEmails = [];
		checkboxes.forEach(function (checkbox) {
			if (checkbox.checked) {
				var email = checkbox.getAttribute('data-email');
				selectedEmails.push(email);
			}
		});
		// 现在'selectedEmails'数组包含所选员工的电子邮件地址
		console.log(selectedEmails);
	}
	function addEmp(){
		location.href='[[@{/employee/add}]]';
	}
	function refresh(){
		location.href='[[@{/employee/lists}]]';
	}
</script>
</html>
