<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>emplist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
	<body>
		<div id="wrap">
			<div id="top_content"> 
				<div id="header">
					<div id="rightheader">
						<p>
							2009/11/20 
							<br />
							<a  th:href="@{/user/logout}">安全退出</a>
						</p>
					</div>
					<div id="topheader">
						<h1 id="title">
							<a href="#">main</a>
						</h1>
					</div>
					<div id="navigation">
					</div>
				</div>
				<div id="content">
					<h1>
						欢迎
					</h1>
					<form th:action="@{/employee/search}" method="get">
						<div>
							社員番号:<input type="text" name="emplyee_id">
						部署名:<input type="text" name="department">
						</div>
						<div>
							社員名:<input type="text" name="employee_name">
						住所:<input type="text" name="address">
						</div>

					<button type="submit">検索</button>
						<input type="button" class="button" value="新規登録" onclick="addEmp()"/>
					</form>
							<script>
								function addEmp(){
									location.href='[[@{/addEmp}]]';
								}
							</script>

					<table class="table">
						<tr class="table_header">
							<td>
								社員番号
							</td>
							<td>
								社員名
							</td>
							<td>
								部署名
							</td>
							<td>
								住所
							</td>
							<td>
								性別
							</td>
							<td>
								操作
							</td>
						</tr>
						<tr th:each="employee,state:${employeeList}" class="row1">
							<td>
								<span th:text="${employee.emplyee_id}"></span>
							</td>
							<td>
								<span th:text="${employee.employee_name}"></span>
							</td>
							<td>
								<span th:text="${employee.department}"></span>
							</td>
							<td>
								<span th:text="${employee.address}"></span>
							</td>
							<td>
								<span th:text="${employee.sex}"></span>
							</td>
							<td>
								<a th:href="@{/employee/detail(emplyee_id=${employee.emplyee_id})}">详细</a>
							</td>
						</tr>

					</table>

				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
