<!DOCTYPE html>
<html  lang="ch" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>regist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/regist.css}"/>
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
							<h1 id="title">
								社員管理システム
							</h1>
					</div>
				<div id="content">
					<h1 id="header2">
						ユーザー新規登録
					</h1>
					<form th:action="@{/user/register}" method="post" th:object="${user}">
						<table
							class="form_table">
							<span th:if="${errorMsg2}" class="errorMsg2" th:text="${errorMsg2}">
							</span>
							<span th:if="${#fields.hasErrors('user_name')}" class="error1" th:errors="*{user_name}">
							</span>
							<tr class="row1">
								<td class="user_name" >
									ユーザID
								</td>
								<td>
									<input type="text" class="inputgri"  th:field="*{user_name}" />
								</td>
							</tr>
							<span th:if="${#fields.hasErrors('password')}" class="error2" th:errors="*{password}">
							</span>

							<span th:if="${errorMsg3}" class="errorMsg3" th:text="${errorMsg3}">
							</span>

							<tr class="row2">
								<td class="password">
									パスワード
								</td>
								<td>
									<input type="password" class="inputgri"  th:field="*{password}" />
								</td>
							</tr>

							<tr >
								<span th:if="${errorMsg1}"  class="errorMsg1" th:text="${errorMsg1}"></span>
								<td  class="row3">
									確認コード:
									<img id="num" th:src="@{/user/generateImageCode}" />
									<a href="javascript:;" onclick="changeImageCode()"></a>
									<script>
										function changeImageCode(){
											document.getElementById('num').src = '[[@{/user/generateImageCode}]]?'+(new Date()).getTime()
										}
									</script>
								</td>
								<td class="row3">
									<input type="text" class="code" name="code" />
								</td>
							</tr>
						</table>
					
							<input type="submit" class="button" value="新規登録 &raquo;" />

					</form>
					<button onclick="login()">ログイン</button>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					Namiki@126.com
				</div>
			</div>
		</div>
	</body>
	<script>
		function login(){
			location.href='[[@{/user/loging}]]';
		}
	</script>

</html>
