<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>更新员工信息</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css"
			th:href="@{/css/style.css}" />
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								2009/11/20
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						更新员工信息:
					</h1>
					<form th:action="@{/employee/update}" method="post">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									社員番号:
								</td>
								<td valign="middle" align="left">
									<input type="hidden" name="id" th:value="${employee.id}">
									<input type="text" class="inputgri" name="employee_id" th:value="${employee.employee_id}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									社員名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="employee_name" th:value="${employee.employee_name}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									役職名:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="job_title" th:value="${employee.job_title}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									性別:
								</td>
								<td>
									<input type="radio" name="sex" value="男" th:checked="${employee.sex=='男'}"/>
									男
									<input type="radio" name="sex" value="女" th:checked="${employee.sex=='女'}"/>
									女
								</td>
								<script>
									function readRadio(){
										var obj=document.getElementById("sex")
										for (var i=0;i<obj.length;i++){
											if(obj[i].checked){
												alert(obj[i].value);
												break;
											}
										}

									}
								</script>

							</tr>
							<tr>
								<td valign="middle" align="right">
									部署名:
								</td>
								<td>
									<select th:field="*{employee.department}" name="department" id="option1" >
										<option value="システム1部">システム1部</option>
										<option value="システム2部">システム2部</option>
									</select>
									<script>
										function readOption(){
											var selected=document.getElementById("option1");
											alert(selected.options[selected.selectedIndex].value)
										}
									</script>
								</td>

							</tr>
							<tr>
								<td valign="middle" align="right">
									住所:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="address" th:value="${employee.address}"/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									雇用形態:
								</td>
								<td>
									<select th:field="*{employee.employment_status}" name="employment_status" id="option">
										<option value="正社員">正社員</option>
										<option value="契約社員">契約社員</option>
									</select>
									<script>
										function readOption(){
											var selected=document.getElementById("option");
											alert(selected.options[selected.selectedIndex].value)

										}
									</script>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									入社年月日:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="hire_date" th:value="${#dates.format(employee.hire_date,'yyyy/MM/dd')}"/>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="更新" />
							<button href="javascript:;" th:onclick="'deleteEmployee('+${employee.employee_id}+')'">
								删除
							</button>
							<button>返回列表</button>
							<script>
								function deleteEmployee(employee_id){
									if (window.confirm('确定要删除这条记录吗？')){
										location.href='[[@{/employee/delete?employee_id=}]]'+employee_id;
									}
								}
							</script>
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					ABC@126.com
				</div>
			</div>
		</div>
	</body>
</html>
